/* Variables */
:root {
  /* Colors */
  --yellow: hsl(47, 88%, 63%);
  --gray-950: hsl(0, 0%, 7%);
  --gray-500: hsl(0, 0%, 42%);
  --white: hsl(0, 0%, 100%);
  --blue-500: hsl(228, 45%, 44%);
  --violet-600: hsl(252, 78%, 60%);

  /* Semantic colors */
  --text-primary: var(--gray-950);
  --text-secondary: var(--gray-500);
  --background: var(--yellow);
  --card-background: var(--white);
  --link-color: var(--blue-500);
  --link-color-hover: var(--violet-600);
  --shadow-color: hsla(0, 0%, 0%, 1);
  --shadow-color-hover: hsla(0, 0%, 0%, 0.5);

  /* Shadow */
  --shadow: 8px 8px 0 var(--shadow-color);
  --shadow-on-hover: 8px 8px 0 var(--shadow-color-hover);

  /* Typography */
  --font-family: 'Figtree', sans-serif;
  --text-preset-1: 800
    clamp(1.25rem, 1.162rem + 0.3756vw, 1.5rem) /
    150% var(--font-family);
  --text-preset-2: 500
    clamp(0.875rem, 0.831rem + 0.1878vw, 1rem) /
    150% var(--font-family);
  --text-preset-3: 400
    clamp(0.75rem, 0.706rem + 0.1878vw, 0.875rem) /
    150% var(--font-family);
  --text-preset-3__bold: 800
    clamp(0.75rem, 0.706rem + 0.1878vw, 0.875rem) /
    150% var(--font-family);
  --text-preset-3__bold__fixed: 800 0.875rem / 150% var(--font-family);

  /* Spacing scale */
  --spacing-300: 1.5rem;
  --spacing-150: 0.75rem;
  --spacing-100: 0.5rem;
  --spacing-50: 0.25rem;

  /* Border radius scale */
  --border-radius-500: 1.25rem;
  --border-radius-300: 0.625rem;
  --border-radius-100: 0.25rem;

  /* Width scale */
  --width-300: 24rem;
  --width-100: 20.438rem;

  /* Transition */
  --transition-default: 0.3s ease-in-out;
}

/* Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  -webkit-font-smoothing: antialiased;
}

/* Reset img from Harry Roberts - @csswizardry */
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 1rem;
}

a {
  color: inherit;
  text-decoration: none;
}

abbr {
  text-decoration: none;
}

/* Body */
body {
  color: var(--text-primary);
  background-color: var(--background);
  min-height: 100svh;
  font-family: var(--font-family);
}

/* Main Container */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100svh;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

/** Card Container **/
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--spacing-300);
  width: 100%;
  max-width: var(--width-300);
  margin-inline: var(--spacing-300);
  padding: var(--spacing-300);
  background-color: var(--card-background);
  border: 1px solid var(--gray-950);
  border-radius: var(--border-radius-500);
  box-shadow: var(--shadow);
  transition: box-shadow var(--transition-default);
}

/* Card Image */
.card__main-img {
  border-radius: var(--border-radius-300);
}

/* Card Content */
.card__content,
.card__header {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-150);
}

.card__content {
  padding: 0;
}

/* Card Header */
.card__category {
  width: fit-content;
  padding: var(--spacing-50) var(--spacing-150);
  border-radius: var(--border-radius-100);
  background-color: var(--yellow);
  font: var(--text-preset-3__bold);
}

.card__publish-date {
  font: var(--text-preset-3);
  width: fit-content;
}

/* Card Title & Description */
.card__title {
  font: var(--text-preset-1);
  transition: color var(--transition-default);
}

.card__title:hover {
  color: var(--yellow);
  cursor: pointer;
}

.card__description {
  font: var(--text-preset-2);
  color: var(--text-secondary);
}

/* Card Author */
.card__author {
  display: flex;
  width: fit-content;
  align-items: center;
  gap: var(--spacing-150);
  font: var(--text-preset-3__bold);
}

.card__author-img {
  border-radius: 50%;
}

.card__author-name {
  font: var(--text-preset-3__bold__fixed);
}

/** Footer **/
footer {
  width: 100%;
  text-align: center;
  padding: var(--spacing-100);
  font: var(--text-preset-3);
  color: var(--text-primary);
  position: fixed;
  bottom: 0;
}

/* Footer Links */
footer a {
  color: var(--link-color);
  text-decoration: none;
  transition: color var(--transition-default);
}

footer a:hover,
footer a:active {
  color: var(--link-color-hover);
}

footer a:focus-visible {
  outline: 2px solid var(--link-color);
  outline-offset: 2px;
}
